:root.theme-dark {
  --color-decor: var(--color-dark-decor);
  --text-color-primary: var(--color-dark-bg);
  --title-color-primary: var(--color-dark-title);
  --bg-color: var(--color-dark-bg);
  --paragraph-text-color: var(--color-dark-text);
  --text-block-border: var(--color-dark-text);
  --decorated-zone: var(--color-dark-decor);
  --bg-image: url('../images/cover-image-dark.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-decor: var(--color-dark-decor);
    --text-color-primary: var(--color-dark-bg);
    --title-color-primary: var(--color-dark-title);
    --bg-color: var(--color-dark-bg);
    --paragraph-text-color: var(--color-dark-text);
    --text-block-border: var(--color-dark-text);
    --decorated-zone: var(--color-dark-decor);
    --bg-image: url('../images/cover-image-dark.png');
  }
}