:root.theme-dark {
  --page-bg-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --header-text-bg-color: #FF0070;
  --header-text-color: #000028;
  --question-bg-color: #000028;
  --question-color: #FF0070;
  --answer-title-bg-color: #FF0070;
  --answer-title-color: #000028;
  --answer-text-bg-color: #000028;
  --answer-text-color: #F1B2CE;
  --advice-title-bg-color: #FF0070;
  --advice-title-color: #000028;
  --button-color: #FF0070;
  --rec-color: #FF0070;
  --border-color-opacity: #FF007066;
  --background-image: url("../images/cover-image-dark.png");
  --deco-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #000028;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --header-text-bg-color: #FF0070;
    --header-text-color: #000028;
    --question-bg-color: #000028;
    --question-color: #FF0070;
    --answer-title-bg-color: #FF0070;
    --answer-title-color: #000028;
    --answer-text-bg-color: #000028;
    --answer-text-color: #F1B2CE;
    --advice-title-bg-color: #FF0070;
    --advice-title-color: #000028;
    --button-color: #FF0070;
    --rec-color: #FF0070;
    --border-color-opacity: #FF007066;
    --background-image: url("../images/cover-image-dark.png");
    --deco-color: #FF0070;
  }

  .rec_empty::before {
    display: inline-block;
  }
  
  .rec_empty::after {
    display: inline-block;
  }
}

.theme-dark .rec_empty::before {
  display: inline-block;
}

.theme-dark .rec_empty::after {
  display: inline-block;
}