/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light):not(.theme-dark) {
    --bg-color: #000028;
    --text-color-primary: #000028;
    --title-color-primary: #db00ff;
    --color-decor: #ff0070;
    --paragraph-text-color: #f1b2ce;
    --decorated-zone: #ff0070;
    --text-block-border: #f1b2ce;
    --bg-image: url(../images/cover-image-dark.png);
  }
}

