:root.theme-dark {
  --content-title: #ff0070;
  --title-color: #000028;
  --accent-color: #ff0070;
  --accent-color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --background-image: url(../images/cover-image-dark.png);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --button-active-color: #ff0070;
  --button-focus-color: #ff0070;
  --background-color: #000028;
  --header-color: #db00ff;
}


.theme-dark .page {
  .header__rec {
    display: flex;
  }
}
