/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color-primary: #000028;
  --title-color-primary: #DB00FF;
  --color-decor: #FF0070;
  --paragraph-text-color: #F1B2CE;
  --decorated-zone: #FF0070;
  --text-block-border: #F1B2CE;
}

