:root.theme-light {
  --page-bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --header-text-bg-color: #FF8DCB;
  --header-text-color: #353430;
  --question-bg-color: #FFF1F7;
  --question-color: #353430;
  --answer-title-bg-color: #FF8DCB;
  --answer-title-color: #353430;
  --answer-text-bg-color: #FFF1F7;
  --answer-text-color: #353430;
  --advice-title-bg-color: #FF8DCB;
  --advice-title-color: #353430;
  --button-color: #353430;
  --rec-color: transparent;
  --border-color-opacity: #32312D66;
  --background-image: url("../images/cover-image-light.png");
  --deco-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__rec::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --header-text-bg-color: #FF8DCB;
    --header-text-color: #353430;
    --question-bg-color: #FFF1F7;
    --question-color: #353430;
    --answer-title-bg-color: #FF8DCB;
    --answer-title-color: #353430;
    --answer-text-bg-color: #FFF1F7;
    --answer-text-color: #353430;
    --advice-title-bg-color: #FF8DCB;
    --advice-title-color: #353430;
    --button-color: #353430;
    --rec-color: transparent;
    --border-color-opacity: #32312D66;
    --background-image: url("../images/cover-image-light.png");
    --deco-color: #353430;
  }

  .header__rec {
    display: none;
  }
  
  .header__rec::after {
    display: none;
  }
}