:root.theme-light {
  --content-title: #353430;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --button-active-color: #353430;
  --button-focus-color: #353430;
  --background-color: #fff1f7;
  --header-color: #ffc2e6;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #353430;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --button-active-color: #353430;
    --button-focus-color: #353430;
    --background-color: #fff1f7;
  }
}