/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: var(--basic-pink);
  --title-color: var(--title-pink);
  --page-bg-color: var(--almost-white-bg);
  --header-text-bg-color: var(--basic-pink);
  --header-text-color: var(--almost-black);
  --question-color: var(--almost-black);
  --answer-title-bg-color: var(--basic-pink);
  --answer-title-color: var(--almost-black);
  --answer-text-color: var(--almost-black);
  --advice-title-bg-color: var(--basic-pink);
  --advice-title-color: var(--almost-black);
  --button-color: var(--almost-black);
  --border-color-opacity: #32312D66;
  --background-image: url("../images/cover-image-light.png");
  --deco-color: var(--almost-black);
}

.theme-light .rec_empty::before,
.theme-light .rec_empty::after {
  display: none;
}

.theme-light .header__theme-menu-button {
  --button-color: var(--almost-black);
}

.theme-light .question {
  --question-color: var(--almost-black);
}