/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-decor: #353430;
  --text-color-primary: #353430;
  --title-color-primary: #FFC2E6;
  --bg-color: #FFF1F7;
  --paragraph-text-color: #353430;
  --text-block-border: #353430;
  --bg-image: url('../images/cover-image-light.png');
  --decorated-zone: #353430;
  --header-shadow-color: #FF8DCB;
  --footer-shadow-color: #FF0070;
}

.theme-light .content__title {
  color: var(--text-color-primary);
}

.theme-light .title-decor {
  background-color: #FF8DCB;
}

.theme-light .header__title {
  text-shadow: 4px 4px 0 var(--header-shadow-color);
}

.theme-light .footer__title {
  text-shadow: 2px 2px 0 var(--footer-shadow-color);
}

.theme-light .text-block__link {
  text-shadow: 2px 2px 0 #FF8DCB;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__rec::after {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .page {
  bg-image: url('../images/cover-image-light.png');
}

@media (max-width: 768px) {
  .theme-light .header__title,
  .theme-light .footer__title {
    text-shadow: 4px 4px 0 var(--header-shadow-color);
  }
  
  .theme-light .footer__title {
    text-shadow: 2px 2px 0 var(--header-shadow-color);
  }
}