.page {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0 auto;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
}

header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px;
  min-block-size: 100vh;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  list-style: none;
  justify-content: center;
}

.header__theme-menu-button {
  display: block;
  position: relative;
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  text-align: center;
  color: var(--color-decor);
  line-height: var(--main-font-size);
  cursor: pointer;
  appearance: none;
  padding: 0 13px;
}

.header__title {
  font-size: var(--title-font-size);
  color: var(--title-color-primary);
  text-shadow: 4px 4px 0 var(--color-decor);
  font-weight: 700;
  line-height: 83%;
  margin-inline-start: -20px;
}

.header__text {
  color: var(--text-color-primary);
  font-weight: 700;
  line-height: var(--main-line-height);
  max-inline-size: 491px;
  max-block-size: 71px;
  align-self: center;
  justify-self: end;
}

.title-decor {
  background-color: var(--color-decor);
}

.header__rec {
  font-size: var(--main-font-size);
  text-transform: uppercase;
  line-height: 25px;
  color: var(--color-decor);
  inset-block-start: clamp(10px, 3vw, 20px);
  inset-inline-end: clamp(10px, 3vw, 20px);
  position: absolute;
  display: flex;
  align-items: center;
  padding-inline-end: 9px;
}

.header__rec::after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--color-decor);
  box-shadow: 0 0 4px 2px var(--color-decor);
  margin-inline-start: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  font-family: var(--main-font-family);
  margin: 60px 20px;
}

.content__title {
  color: var(--text-color-primary);
}

.why__difficult__concentrate {
  display: grid;
  grid-template-columns: clamp(276px, 30vw, 335px) 2fr;
  column-gap: 19.93px;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  align-items: start;
}

.why__difficult__concentrate .content__title {
  grid-column: 1;
  grid-row: 1;
  color: var(--color-decor);
  margin: 0;
}

.text-block_multitask {
  grid-column: 2;
  grid-row: 1;
}

.text-block_dopamine {
  grid-column: 2;
  grid-row: 2;
}

.text-block {
  inline-size: 100%;
}

.text-block__head {
  font-weight: 700;
  color: var(--text-color-primary);
  margin: 0;
}

.text-block__paragraph {
  color: var(--paragraph-text-color);
  margin: 10px 0 20px 0;
}

.text-block__paragraph:last-child {
  margin-block-end: 0;
}

.what__reduces__concentration {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  align-items: start;
}

.what__reduces__concentration .content__title {
  grid-column: 1;
  grid-row: 1;
  color: var(--color-decor);
}

.text-block_multitask-second {
  grid-column: 1;
  grid-row: 2;
}

.text-block_food {
  grid-column: 2;
  grid-row: 2;
}

.text-block_gadget {
  grid-column: 3;
  grid-row: 2;
}

.how__concentrate__better {
  display: grid;
  grid-template-columns: clamp(276px, 30vw, 335px) 2fr;
  gap: 20px;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  align-items: start;
}

.how__concentrate__better .content__title {
  grid-column: 1;
  grid-row: 1 / span 6;
  color: var(--color-decor);
}

.text-block_five-just {
  grid-column: 2;
  grid-row: 1 / span 6;
}

.how__concentrate__better .text-block__head:first-of-type {
  margin-block-end: 20px;
}

.text-block_regular {
  font-weight: 400;
}

.text-block__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-decor);
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-block-start: 20px;
}

.grid__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.grid__image:nth-child(5) {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}

.grid__image:nth-child(4) {
  grid-column: 5 / 7;
  grid-row: 1 / 5;
}

.grid__image:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 3 / 7;
}

.grid__image:nth-child(2) {
  grid-column: 3 / 7;
  grid-row: 5 / 7;
}

.grid__image:nth-child(1) {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}

footer {
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-size: var(--title-font-size);
  font-weight: 700;
  font-family: var(--main-font-family);
  line-height: 83%;
  color: var(--title-color-primary);
  text-shadow: 2px 2px 0 var(--color-decor);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  pointer-events: none;
}

.decorated-zone::before {
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-block-start: 1px solid var(--decorated-zone);
  border-inline-end: 1px solid var(--decorated-zone);
}

.decorated-zone::after {
  inset-block-end: 20px;
  inset-inline-start: 20px;
  border-block-end: 1px solid var(--decorated-zone);
  border-inline-start: 1px solid var(--decorated-zone);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--color-decor);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  --header-hover-color: rgba(255, 0, 112, 0.4);
  border: 1px solid var(--header-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-decor);
  pointer-events: none;
}

.text-block__link:focus {
  outline: none;
}

.text-block__link:focus-visible {
  border: 1px solid var(--text-block-border);
}

.text-block__link:hover {
  border-block-end: 1px solid var(--text-block-border);
}

@media (max-width: 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-block-start: 172px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: end;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .what__reduces__concentration {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .what__reduces__concentration .content__title {
    grid-column: 1;
    grid-row: 1;
  }
  
  .text-block_multitask-second {
    grid-column: 1;
    grid-row: 2;
  }
  
  .text-block_food {
    grid-column: 1;
    grid-row: 3;
  }
  
  .text-block_gadget {
    grid-column: 1;
    grid-row: 4;
  }
}
    
@media (max-width: 500px) {
  :root {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  header {
    padding: 10px;
  }
  
  .header__title {
    margin-inline-start: 0;
  }

  .header__text {
    max-inline-size: 355px;
    max-block-size: 117px;
  }

  main {
    margin: 40px 10px;
    gap: 50px;
  }

  .why__difficult__concentrate {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .why__difficult__concentrate .content__title {
    grid-column: 1;
    grid-row: 1;
  }
  
  .text-block_multitask {
    grid-column: 1;
    grid-row: 2;
  }
  
  .text-block_dopamine {
    grid-column: 1;
    grid-row: 3;
  }

  .what__reduces__concentration {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .what__reduces__concentration .content__title {
    grid-column: 1;
    grid-row: 1;
  }
  
  .text-block_multitask-second {
    grid-column: 1;
    grid-row: 2;
  }
  
  .text-block_food {
    grid-column: 1;
    grid-row: 3;
  }
  
  .text-block_gadget {
    grid-column: 1;
    grid-row: 4;
  }

  .how__concentrate__better {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .how__concentrate__better .content__title {
    grid-column: 1;
    grid-row: 1;
  }
  
  .text-block_five-just {
    grid-column: 1;
    grid-row: 2;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .grid__image:nth-child(5) {
    grid-column: 1;
    grid-row: 1;
  }

  .grid__image:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
  }

  .grid__image:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .grid__image:nth-child(2) {
    grid-column: 1;
    grid-row: 4;
  }

  .grid__image:nth-child(1) {
    grid-column: 1;
    grid-row: 5;
  }

  .footer {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}