.page {
  background-color: var(--background-color);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--page-font-family);
  color: var(--text-color);
  font-size: var(--page-font-size);
}

.decorated-zone {
  position: relative;
}

.header__rec {
  text-transform: uppercase;
  line-height: 25px;
  color: var(--accent-color);
  inset-block-start: clamp(10px, 3vw, 20px);
  inset-inline-end: clamp(10px, 3vw, 20px);
  position: absolute;
  display: flex;
  align-items: center;
  padding-inline-end: 9px;
  gap: var(--gap-small);
}

.header__rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-start: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  justify-self: end;
  align-self: flex-start;
  border-inline-end: 1px solid var(--section__title);
  border-block-start: 1px solid var(--section__title);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  justify-self: start;
  align-self: flex-end;
  border-inline-start: 1px solid var(--section__title);
  border-block-end: 1px solid var(--section__title);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header {
  background-image: var(--background-image);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto 1fr;
  grid-auto-flow: column;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--gap-small);
}

.header__theme-menu-button {
  border: none;
  padding: 4px 13px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px var(--button-active-color) solid;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--button-focus-color);
}

.header__theme-menu-item {
  color: var(--section__title);
  font-size: var(--page-font-size);
  line-height: var(--line-height-small);
  text-transform: lowercase;
}

.header__title {
  grid-column: 1 / 3;
  justify-self: start;
  color: var(--header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--line-height-large);
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  grid-column: 1 / 3;
  justify-content: end;
  display: inline-block;
}

.title-decor {
  background-color: var(--accent-color);
  grid-column: 1 / 4;
  color: var(--title-color);
  font-weight: bold;
  font-size: var(--page-font-size);
  line-height: var(--line-height-medium);
}

.second-title {
  font-weight: 400;
}

.main {
  display: grid;
  row-gap: 30px;
  margin-block: 40px;
  padding-inline: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.section__title {
  color: var(--section__title);
  font-weight: 700;
  font-size: var(--page-font-size);
  line-height: var(--line-height-medium);
}

article {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-small);
}

.card {
  padding-bottom: var(--gap-medium);
}

.card__text {
  color: var(--article-color);
  font-size: var(--page-font-size);
  line-height: var(--line-height-medium);
  text-wrap: wrap;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1.5px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus {
  outline: 1px solid var(--text-color);
}

.section__image {
  width: 100%;
}

.section-pictures {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);;
}

.footer {
  display: grid;
  min-height: 100vh;
  padding: 10px;
}

.footer_title {
  justify-self: center;
  align-self: center;
  color: var(--header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--line-height-large);
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__rec {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header {
    min-height: 100vh;
    padding: 20px;
  }

  .header__theme-menu {
    align-self: center;
  }

   .header__text {
    grid-column: 2 / 3;
  }

 .header__title {
    position: relative;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    margin-top: 60px;
    padding-inline: 20px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-medium);
  }

  .section_second {
    grid-template-areas:
    "title l"
    "content content";
  }

 .section_second > .section__title {
    grid-area: title;
    padding-block-start: 10px;
  }

  .section_second > .section__card {
    grid-area: content;
  }

  .section_third {
    padding-block-start: 30px;
  }

  .section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .section > .title-decor {
    grid-column: 2 / 3;
  }

  .section__image {
  display: block;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
  }

  .section-pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-medium);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "title title title"
    "image-one image-one image-two"
    "image-three image-four image-two"
    "image-three image-five image-five";
    padding-block-start: 30px;
  }

  .section-pictures > .title-decor {
    grid-area: title;
  }

  .image-one {
    grid-area: image-one;
  }

  .image-two {
    grid-area: image-two;
  }

  .image-three {
    grid-area: image-three;
  }

  .image-four {
    grid-area: image-four;
  }

  .image-five {
    grid-area: image-five;
  }

  .footer {
    min-height: 100vh;
    margin-top: 60px;
    font-size: clamp(7.25rem, 9.813rem + 1.0178vw, 9.813rem);
  }

  .footer_title {
    justify-self: center;
    margin-inline-start: 0;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 100vh;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .section {
    gap: var(--gap-small);
  }

  .section_second {
    padding-block-start: var(--gap-medium);
  }

  .section_second > .section__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-medium);
  }
}