/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--project-font-family);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.header {
  height: 100vh;
  min-height: 668px;
  font: inherit;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
  align-items: center;
  padding: var(--decoration-gap) 0;
}

.header_text {
  background-color: var(--header-text-bg-color);
  color: var(--header-text-color);
  font-weight: bold;
  font-size: inherit;
  margin: var(--decoration-gap);
  font: inherit;
}

/* МЕНЮ */
.header__theme-menu-list {
  display: grid;
  gap: 10px;
  list-style: none;
  justify-content: center;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
  appearance: none;
  position: relative;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

/* МЕНЮ для мобильных */
.header__theme-menu {
  justify-self: end;
  margin: auto var(--decoration-gap);
}

/* Уголочки */
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: var(--corner-thickness) solid var(--deco-color);
  border-right: var(--corner-thickness) solid var(--deco-color);
  top: var(--decoration-gap);
  right: var(--decoration-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-thickness) solid var(--deco-color);
  border-left: var(--corner-thickness) solid var(--deco-color);
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
}

.main {
  margin: 40px var(--decoration-gap);
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.answers_why,
.answers_what,
.answers_how {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* GALLERY вариант mobile */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--decoration-gap);
}

/* Шрифты */
.question {
  font-size: var(--regular-font-size);
  line-height: 1.3;
  width: 100%;
  color: var(--question-color);
}

.huge_title {
  font-size: var(--title-font-size);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  margin-left: var(--header-margin-left);
}

.answer_title {
  color: var(--answer-title-color);
  background-color: var(--answer-title-bg-color);
  font-size: inherit;
  margin: 0;
}

.answer_text {
  color: var(--answer-text-color);
  font-weight: normal;
  margin: 10px 0 0 0;
}

.answer_text:last-child {
  margin-bottom: 0;
}

.advice_title {
  font-size: var(--regular-font-size);
  line-height: 1.3;
  width: 100%;
  font-weight: normal;
  color: var(--advice-title-color);
  background-color: var(--advice-title-bg-color);
  margin: 0;
}

.advice_title_main {
  margin-bottom: 20px;
}

.simple_link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.simple_link:focus {
  outline: none;
}

.simple_link:focus-visible {
  outline: 1px solid currentColor;
}

.simple_link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.rec_empty {
  display: flex;
  justify-self: end;
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 25px;
  position: absolute;
  top: var(--decoration-gap);
  right: calc(var(--decoration-gap) + 9px);
}

.rec_empty::before {
  content: 'REC';
  font-weight: normal;
  display: none;
  color: var(--rec-color);
  margin-right: 10px;
}

.rec_empty::after {
  content: '';
  position: absolute;
  display: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  right: -18px;
  top: 8px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.picture_question {
  margin-bottom: 10px;
}

.title-decor {
  background-color: var(--header-text-bg-color);
}

/* GALLERY вариант планшета и десктопа */
@media (width >= 768px) {
  .huge_title {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0;
  }

  .header {
    margin-block-end: 40px;
    min-height: 1024px;
  }

  .gallery {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 20px;
  }

  .footer {
    min-height: 1024px;
    margin-top: 40px;
  }

  .sunset_pic {
    grid-column: 1 / 3;
  }

  .ice-cream_pic {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape_pic {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books_pic {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street_pic {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .header_text {
    width: calc(50% - 20px);
    justify-self: end;
  }

  .section_why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section_what {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .section_how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .question_what {
    width: 30%;
  }

  .answers_what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery_section {
    margin-top: 0;
  }
}

/* Десктоп */
@media (width >= 1024px) {
  .header {
    margin-block-end: 0;
    min-height: 768px;
  }

  .footer {
    min-height: 768px;
    margin-top: 60px;
  }

  /* МЕНЮ для десктопа */
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin: 0 var(--decoration-gap);
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .section_what {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "question_what ."
      "answers_what answers_what";
    gap: 20px;
  }

  .question_what {
    grid-area: question_what;
    width: 30%;
  }

  .answers_what {
    grid-area: answers_what;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Мобильная версия */
@media (max-width: 500px) {
  .huge_title {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
  }

  .header {
    padding: 10px 0;
  }

  .main {
    margin: 40px 10px;
    gap: 50px;
  }

  .footer {
    padding: 10px;
  }
}