:root {
  --main-font-family: 'IBM Plex Mono', sans-serif;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  
  /* ДОБАВЬТЕ БАЗОВЫЕ ПЕРЕМЕННЫЕ ДЛЯ ТЕМНОЙ ТЕМЫ */
  --color-decor: #FF0070;
  --text-color-primary: #000028;
  --title-color-primary: #DB00FF;
  --bg-color: #000028;
  --paragraph-text-color: #F1B2CE;
  --text-block-border: #F1B2CE;
  --decorated-zone: #FF0070;
  --color-button: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Эти значения уже установлены выше, можно оставить пустыми или дублировать */
    --color-decor: #FF0070;
    --text-color-primary: #000028;
    --title-color-primary: #DB00FF;
    --bg-color: #000028;
    --paragraph-text-color: #F1B2CE;
    --text-block-border: #F1B2CE;
    --decorated-zone: #FF0070;
    --color-button: #FF0070;
  }
}